#image {
    position: absolute;
    top: 525px;

    & > button {
        color: darken($color: #f2f2f2, $amount: 5);
    }

    & > label {
        font-size: 1.3rem;
        font-weight: 600;
    }

    & > input {
        width: 260px;
        height: 30px;
        margin: 3px;
        margin-left: 20px;
        padding: 3px;
        font-size: 1.1rem;
        border-radius: 3px;
        
        &:focus {
            outline: none;
            background-color: darken($color: #f2f2f2, $amount: 5)
        }
    }
}