* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
  font-display: optional;
}

body {
  background-color: #282a36;
}

/*Imports down*/
.header {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 30px;
  margin-top: 10px;
  color: #f2f2f2;
}

.header > h1 {
  height: 40px;
  padding-top: 5px;
  padding-right: 3px;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 2.9rem;
  margin: 30px;
  font-weight: 700;
  overflow: hidden;
  -webkit-animation: cursor 500ms steps(40) infinite normal;
          animation: cursor 500ms steps(40) infinite normal;
}

/*animation cursor*/
@-webkit-keyframes cursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: rgba(255, 255, 255, 0);
  }
}
@keyframes cursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: rgba(255, 255, 255, 0);
  }
}

.header > small {
  font-size: 1rem;
}

.editorBox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.editor {
  width: 70vw;
  min-height: 535px;
  max-height: 535px;
  margin: 10px;
  padding: 5px;
  background-color: #f2f2f2;
  border-radius: 3px;
  border: 3px solid gray;
  color: black;
  list-style: outside;
  overflow: auto;
  font-size: 1rem;
}

.editor ol {
  margin-left: 20px;
}

.editor ul {
  margin-left: 20px;
}

.editor:focus {
  outline: none;
}

.textOptions {
  position: absolute;
  left: 15%;
  top: 139px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.textOptions > input {
  width: 43px;
  height: 25px;
  font-size: 1.1rem;
  border-radius: 3px;
}

.textOptions > input:focus {
  outline: none;
}

.textOptions > label {
  font-size: 1.3rem;
  font-weight: 600;
}

.font {
  height: 25px;
  font-size: 1.2rem;
  margin-left: 20px;
  background-color: #f5f5f5;
  border-radius: 3px;
}

.font .opt {
  background-color: #282a36;
  color: #f5f5f5;
  font-size: 1.1rem;
  font-weight: 600;
}

.font:focus {
  outline: none;
}

.options {
  position: absolute;
  margin-top: 10px;
  right: 86%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.options button {
  width: 45px;
  height: 45px;
  background-color: #fff;
}

.options button:focus {
  outline: none;
}

.options button > img {
  width: 40px;
  height: 40px;
}

@media (min-width: 640px) {
  .options {
    right: 85.7%;
  }
}

@media (min-width: 960px) {
  .options {
    right: 85.5%;
  }
}

@media (min-width: 1100px) {
  .options {
    right: 85%;
  }
}

.aside {
  visibility: hidden;
}

.aside > span {
  position: absolute;
  top: 479.3px;
  left: 231px;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 25px solid #3e4153;
}

.aside > section > div {
  position: absolute;
  top: 480px;
  left: 255px;
  width: 300px;
  height: 200px;
  padding: 4px;
  border-radius: 3px;
  background-color: #282a36;
  color: #fff;
}

.aside > section > div > h1 {
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
}

#labelLink {
  font-size: 1.2rem;
  margin-left: 3px;
  font-weight: 600;
  color: #f2f2f2;
}

#labelText {
  font-size: 1.2rem;
  margin-left: 3px;
  font-weight: 600;
  color: #f2f2f2;
}

#link {
  width: 160px;
  height: 30px;
  margin: 3px;
  margin-left: 20px;
  padding: 3px;
  font-size: 1.1rem;
  border-radius: 3px;
}

#link:focus {
  outline: none;
  background-color: #e5e5e5;
}

#text {
  width: 160px;
  height: 30px;
  margin: 3px;
  margin-left: 20px;
  padding: 3px;
  font-size: 1.1rem;
  border-radius: 3px;
}

#text:focus {
  outline: none;
  background-color: #e5e5e5;
}

#btn {
  width: 90px;
  height: 30px;
  padding: 3px;
  margin-top: 10px;
  margin-left: 110px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #0fca0f;
  border-radius: 3px;
  border: none;
  color: #e5e5e5;
}

#btn:hover {
  background-color: #11e211;
}

#btn:focus {
  outline: none;
  background-color: #0b9b0b;
}

#image {
  position: absolute;
  top: 525px;
}

#image > button {
  color: #e5e5e5;
}

#image > label {
  font-size: 1.3rem;
  font-weight: 600;
}

#image > input {
  width: 260px;
  height: 30px;
  margin: 3px;
  margin-left: 20px;
  padding: 3px;
  font-size: 1.1rem;
  border-radius: 3px;
}

#image > input:focus {
  outline: none;
  background-color: #e5e5e5;
}

.buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons button {
  margin: 3px;
  font-weight: 500;
  font-size: 1.1rem;
  /*button two*/
}

.buttons button:first-child {
  padding: 6px;
  border-radius: 5px;
  color: white;
  background-color: rgba(228, 54, 54, 0.96);
  border: none;
}

.buttons button:first-child:hover {
  background-color: rgba(231, 76, 76, 0.96);
}

.buttons button:first-child:focus {
  outline: none;
  background-color: rgba(204, 27, 27, 0.96);
}

.buttons button:last-child {
  padding: 6px;
  border-radius: 5px;
  color: white;
  background-color: #1d9d1d;
  border: none;
}

.buttons button:last-child:hover {
  background-color: #21b321;
}

.buttons button:last-child:focus {
  outline: none;
  background-color: #157215;
}

.footer {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  color: #f2f2f2;
}

.footer > small {
  font-weight: 500;
  font-size: 1rem;
}

.footer > small > a {
  cursor: pointer;
  font-weight: 700;
  color: #f2f2f2;
  text-decoration: none;
}

.footer > small > a:hover {
  color: #d9d9d9;
}
/*# sourceMappingURL=main.css.map */